<br>
<br>
<hr>
<div align="center">
<a href="index.html">Home</a>&nbsp;&nbsp;
<a href="create-a-project.html">Project Basics</a>&nbsp;&nbsp;
<a href="creating-the-skeleton-plugin.html">Skeleton Plugin</a>&nbsp;&nbsp;
<a href="creating-a-task-type.html">Creating a Task Type</a>&nbsp;&nbsp;
<a href="integration-testing.html">Integration Testing</a>&nbsp;&nbsp;
<a href="compatibility-testing.html">Compatibility Testing</a>&nbsp;&nbsp;
    <a href="creating-an-extension.html">Creating a Project Extension</a>&nbsp;&nbsp;
    <a href="task-triggers.html">Task Triggers</a>&nbsp;&nbsp;
    <a href="groovy-plugin-resources.html">Plugin Resources</a>&nbsp;&nbsp;
</div>